.landing article {
  flex-basis: 500px;
  height: 300px;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
}

.landing .btn {
  background-color: var(--darkOrange);
  color: white;
}

.covid {
  color: red;
}
