.landing article {
  flex-basis: 370px;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* font-weight: 900; */
}

.landing p {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
}

.landing .btn {
  align-self: flex-end;
}

.landing .requirements {
  background-size: 150%;
  background-position: 15%;
}
.landing .about {
  background-size: 210%;
  background-position: 0% bottom;
}

.landing .terms {
  /* color: white; */
  background-size: 320%;
  background-position: 46% 50%;
}

@media screen and (max-width: 400px) {
  .landing p {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .landing .about {
    background-size: cover;
    background-position: 20% 70%;
  }
}

@media screen and (min-width: 700px) {
  .landing article {
    height: 370px;
  }
  .terms p {
    margin-top: -5em;
  }
  .landing .about {
    background-size: 180%;
    background-position: 60% bottom;
  }
  .landing .terms {
    background-size: 380%;
    background-position: 45% 52%;
  }
}

@media screen and (min-width: 1800px) {
  .landing article {
    flex-basis: 500px;
    height: 350px;
  }

  .landing .about {
    background-size: 140%;
    background-position: 35% bottom;
  }
  .landing .terms {
    /* color: white; */
    background-size: 280%;
    background-position: 51.5% 50%;
  }
}
