
form {
  height: 100%;
}
.filter-block {
  display: grid;
  grid-template-rows: auto;
  background-color: #0c4363;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0 1em 1rem;
  color: white;
}
.filter {
  padding: 1em 0 0 0;
}
h6 {
  color: #f8d7c4;
  border-bottom: solid 3px #f8d7c4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

/* stops and prices*/
.list-stops,
.price-range {
  display: grid;
  justify-content: start;
}
/* stops */
.list-stops {
  padding: 1em;
  row-gap: 0.5em;
}
/* price */
.price-range div {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.price-range label {
  margin: 0;
  padding: 1em;
}
input[type="number"] {
  width: 6rem;
  border: 3px solid #f8d7c4;
  border-radius: 5px;
  margin: 10px;
}
/* taking the default arrows out from input field (when clicked) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* companies */
.list-companies {
  display: grid;
  grid-row-gap: 0.5em;
  justify-content: start;
  padding: 1em 2em;
}
/* checkbox */

@media (max-width: 425px) {
  .filter-block {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "stops price"
    "companies companies";
    
  }
  /* stops */
  .list-stops {
    grid-area: stops;
  }
  /* price */
  .price-range {
    grid-area: price;
  }
  .filter-companies{
    grid-area: companies;
  }
  .list-companies {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    justify-content: space-evenly;
    padding: 0.3em; 
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  /* filter-block */
  .filter-block {
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
  }
  /* stops and prices*/
  .list-stops,
  .price-range {
    justify-content: space-around;
    align-content: space-around;
  }

  /* companies */
  .list-companies {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    justify-content: space-evenly;
    padding: 0.3em;
  }
}

@media (min-width: 1025px) {
  .filter-block {
    grid-template-columns: auto;
    grid-template-rows: repeat (3, auto);
    height: 100%;
  }
  .filter {
    padding: 0;
  }
  h6 {
    text-align: start;
  }
}
