.result {
  display: inline-flex;
  width: 100%;
  margin: 1rem 0;
  padding: 1em;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.2);
}
.result h3 {
  font-size: 1.5rem;
}
.result p {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}
.extra {
  text-align: center;
}
.extra p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
#airplane {
  font-size: 2rem;
  text-align: center;
}
.buyFlight button {
  align-content: center;
  background-color: var(--darkOrange);
  color: white;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  padding: 0.5em 0.5em;
  width: 10rem;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0 0.125rem 0.3rem grey;
  font-size: 1.5rem;
}
.buyFlight button:hover {
  transition: all 0.3s linear;
  background-color: #f8f9fa;
  color: var(--darkOrange);
  border: solid 3px var(--darkOrange);
  box-shadow: 0 0.2rem 0.9rem var(--mainOrange);
}

/* @media (max-width: 575.98px) 

@media (max-width: 767.98px) 

@media (max-width: 991.98px) 


@media (max-width: 1199.98px) */
