.result {
  width: 100%;
  margin: 1rem 0;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.2);
}
.time-flight {
  font-size: 1.5rem;
}
.city-code {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}
/* flight-info */
.flight-info1,
.flight-info2,
.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  justify-content: center;
}
/* extra */
.extra {
  text-align: center;
}
.duration {
  margin-bottom: 0;
}
#airplane {
  font-size: 2rem;
  text-align: center;
}
.buy-button,
.company-logo {
  align-self: center;
}
/* the end of extra */
/* .buy-button */

.buy-button {
  align-content: center;
  background-color: var(--darkOrange);
  color: white;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  padding: 0.5em 0.5em;
  width: 10rem;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0 0.125rem 0.3rem grey;
  font-size: 1.5rem;
}
.buy-button:hover {
  transition: all 0.3s linear;
  background-color: #eff2f5;
  color: var(--darkOrange);
  border: solid 3px var(--darkOrange);
  box-shadow: 0 0.2rem 0.9rem grey;
}

@media (min-width: 320px) and (max-width: 425px) {
  .flight-info1,
  .flight-info2,
  .extra {
    flex: 1 0 30%;
  }
  .time-flight {
    font-size: 1rem;
  }
  .city-code {
    font-size: 0.7rem;
  }
  .duration{
    font-size: 0.7rem;
  }
  #airplane {
    font-size: 1.2rem;
  }
  .company-logo , .buy-button{
    flex: 0 1 40%;
  }
  .company-logo {
    order: 4;
    padding: 0.5em;
  }
  .buy-button {
    order: 5;
    width: 6rem;
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .flight-info1,
  .flight-info2,
  .extra {
    flex: 1 0 33%;
  }
  .company-logo {
    order: 4;
  }
  .buy-button {
    order: 5;
  }
}
