@import url("https://fonts.googleapis.com/css2?family=Sarina&display=swap");

.bgHead {
  background-image: url("../assets/img/header.svg");
  min-height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-family: "Sarina", cursive;
  font-size: 5rem;
  color: #cc5918;
}

header img {
  width: 100px;
  transform: translateY(-15%) translateX(-7%);
}

header p {
  font-weight: 600;
  font-size: 1.75rem;
}

.btn {
  text-transform: uppercase;
}

header .btn {
  color: white;
  font-weight: 500;
  background-color: #8e3e10;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: right;
  }
}
