.bgHead {
  background-image: url("../assets/img/hero.jpg");
  min-height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  padding: 5em 5em 8em;
}
header h1 {
  font-family: var(--titlesFont);
  font-size: 5rem;
  /* color: var(--mainOrange);*/
}

.gradient {
  /*suggestion for gradient*/
  width: 40%;
  background: linear-gradient(
    to right,
    rgb(243, 162, 70),
    #f3904f,
    #cc5918 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header img {
  width: 100px;
  transform: translateY(-15%) translateX(-7%);
}

header form {
  box-shadow: 3px 3px 7px rgba(255, 255, 255, 1),
    -3px -3px 7px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
}
header form h4 {
  padding: 1em;
  font-size: 2rem;
}

.search {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.4fr 1fr 0.4fr;
  height: fit-content;
}

.route,
.date {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: stretch;
  padding: 1em 3em;
}

.date {
  grid-gap: 1em;
}
.route p {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  margin: 0;
  height: fit-content;
  cursor: pointer;
}
.route p:nth-child(3) {
  display: none;
}
.box-input {
  display: grid;
  border: var(--darkGrey) 1px solid;
  border-radius: 5px;
  background-color: var(--softWhite);
  padding: 0.2em 0.4em;
  margin: 0;
}
.box-input input,
.box-input select {
  border: none;
  background-color: transparent;
}
.box-input select {
  padding: 0;
}

.box-input label {
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.searchButton {
  align-self: center;
  justify-self: center;
}
header .btn {
  color: white;
  font-weight: 500;
  background-color: var(--darkOrange);
  justify-self: center;
  height: fit-content;
  text-transform: uppercase;
}
@media (min-width: 650px) {
  header form h4 {
    padding: 0.5em;
    margin: 0;
  }
  .search {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas:
      "route date"
      "searchButton searchButton";
    align-items: center;
  }

  .route {
    grid-area: route;
    height: 100%;
  }

  .date {
    grid-area: date;
  }
  .searchButton {
    grid-area: searchButton;
  }
}
@media (min-width: 900px) {
  .bgHead {
    margin-bottom: 4em;
  }
  .search {
    padding: 1em 10em;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-template-areas: "route date searchButton";
  }
  .route p:nth-child(2) {
    display: none;
  }
  .route {
    grid-template-columns: 1fr 0.2fr 1fr;
    height: fit-content;
    padding: 1em;
    grid-gap: 1em;
  }
  .route p:nth-child(3) {
    display: inline;
  }

  .date > .box-input {
    grid-template-columns: 1fr 1fr;
    min-width: 280px;
  }
  .box-input label {
    padding: 0.5em;
  }

  .searchButton {
    padding: 1em;
  }
}
@media (min-width: 1300px) {
  .date {
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .route .box-input {
    align-self: center;
  }
  .route select {
    padding: 0.5em;
  }
  .search .btn {
    padding: 0.65em;
  }
}
