.filter-form {
  background-image: url("../assets//img/sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.filter-block {
  background-color: rgba(12, 67, 99, 0.5);
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-areas:
    "price"
    "companies";
}
.filter {
  padding: 1em;
}
.filter-titles {
  color: #f8d7c4;
  border-bottom: solid 3px #f8d7c4;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

/*prices*/
.price-range {
  display: grid;
  grid-area: price;
}
.price-range div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.3em 1em;
}
.price-range label {
  margin: 0;
  padding: 1em;
}
input[type="number"] {
  width: 6rem;
  border: 3px solid #f8d7c4;
  border-radius: 5px;
  margin: 10px;
}
/* taking the default arrows out from input field (when clicked) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* companies */
.filter-companies {
  grid-area: companies;
  padding: 0.5em;
}
.list-companies {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.5em;
  justify-content: space-evenly;
  padding: 1em 0em;
}

@media (min-width: 430px) {
  .price-range {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .list-companies {
    grid-column-gap: 1em;
    padding: 0.3em;
  }
}

@media (min-width: 600px) {
  .filter-block {
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "price companies";
  }
  .price-range {
    grid-template-columns: auto;
    justify-content: center;
  }
  .filter-companies {
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .filter-form {
    height: var(--sidebarHeight);
    height: var(--sidebarHeightMax);
  }
  .filter-block {
    padding-top: 2em;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "price"
      "companies";
    height: 100%;
  }
  .price-range {
    justify-content: start;
  }
  .list-companies {
    grid-template-columns: auto;
    justify-content: start;
    padding: 1em 3em;
  }
}
@media (min-width: 1800px) {
  .filter {
    padding: 0;
  }
  .filter-titles {
    text-align: start;
  }
}
