.home {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "sidebar main special-offers";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.special-offers {
  grid-area: special-offers;
}
@media (min-width: 320px) and (max-width: 425em) {
  .home {
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "sidebar sidebar sidebar"
      "main main main"
      "special-offers special-offers special-offers";
  }
}
@media (min-width: 426px) and (max-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "sidebar sidebar sidebar"
      "main main special-offers";
  }
}
@media (min-width: 1025px) {
  .home {
    display: grid;
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main special-offers";
  }
}
