header {
  grid-area: header;
}
main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.special-offers {
  grid-area: special-offers;
}

@media (max-width: 599px) {
  .home {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "special-offers";
  }
}

@media (min-width: 600px) {
  .home {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sidebar sidebar"
      "main special-offers";
  }
  .special-offers {
    margin-top: 4em;
  }
}

@media (min-width: 900px) {
  .home {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sidebar sidebar"
      "main special-offers";
  }
}

@media (min-width: 1200px) {
  .home {
    display: grid;
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main special-offers";
  }
  .special-offers {
    margin-top: 0;
  }
}
